
div.center{
	width:9000px;
	margin: 0 auto;
}
div.center1{
	margin-left: 500px;
}
table,th,td{
	 border: 1px solid black;
	 border-collapse: collapse;
}
p{
	margin-left: 500px;
	font-size: 150%;
	font-weight: bold;
}
input[type=text]{
	width: 400px;
	height: 50px;
}
input[type=password]{
	width: 400px;
	height: 50px;
}
input[type=submit]{
	width: 80px;
	height: 50px;
	margin-left: 320px;
	background: blue;
}


